#Container{
    background: lightslategray;
    width: 400px;
    height: 400px;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}

.row{
    background: rgb(136, 180, 201);
    display: flex;
    flex-direction: row;
    height: 25%;
}
.card{
    border:1px solid black;
    height: 100%;
    width:25%;
}


